/* 
A la hora de diseñar, realizamos un boceto de 
nuestra pagina, es decir las lineas generales de
mi pagina
*/
.centrado{
    text-align: center;
    margin: 0 auto;
}
button{
    background-color: #7f8c8d;
    color: black;
    font-size: 20px;
    border-radius: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    padding: 8px 16px;
    text-shadow: 0px 1px 1px #ddd
}
/* Cascada de  estilos ↡ */
.rojo{
    background-color: #E74C3C;
    box-shadow: 0px 5px 0px 0px #c0392b;
}
/* 
LLamadas visuales con CSS3
:hover :active :focus
*/
.rojo:hover{
  /* Evento de cercania, será un selector que cuando
  percibe que esta encima del elemento ejecuta el esti */
  background-color: #ff5242;  
}