/* Comentarios... */



/*
            -----            
             CSS
            -----
        lenguaje de estilos asociado a los lenguajes de
        marcas. Cascading Style Sheet, con una finalidad
        clara, la de definir estilos y representaciones
        en el DocType.
        Sintaxis General:
        elemento(etiqueta){
            atributo: valor;
        }
  */
   h1{
    color: firebrick;
    text-align: center;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }  
  
  /* A-REFERENCIA SIMPLE La , (coma) permitirá agregar etiquetas que se 
  sumaran a los estilos */
  h2{
    color: firebrick;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  div{
    text-align: center;
  }
  /* B. REFERENCIAS DE CONEXION

    la conexion de referencia entre estilos en css será la
    archiconocida referencia .class (.) ;Entendido
    como el selector o la referencia de conexion con mi
    DocType al cual accedera con el atributo class=""
    Sintaxis:
    .nombre_refencia{
        atributo:valor;
    } 
  */
  .fondo{
    background-image:  url(../images/luna.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  /* Ejercicio:

  1 Encabezado poner mas grande
  2 los parrafos justificados, con color blanco y letra
  mas grande.
  3. Una tabla fondo blanco en la bara de navegacion
  inicio    contacto    quienes somos

  4. imagen con enlace a vuestro telefono en el faldon
  
  */
  p{
    color: whitesmoke;
    font-size: 18px;
    text-align: justify;
    text-align: center;
  }
  table{
    text-align: center;
    margin: 0 auto;
    background-color: white;
    font-size: 18px;
    border: 2px;
    border-color: black;
    border-style: solid;
    
  }
  a{
    text-decoration: none;
  }
  img{
    width: 6%;
   
  }
  .faldon{
    text-align: left;
    text-align: justify;
    color: black;

  }
