h3{
    font-size:64px;
    color: rgb(208, 150, 150);
    text-shadow: 0px 1px 2px grey;
    text-align: center;
  }
  /* Estilo Trabajando en tipoVar.js */
  div{
    font-size: 36px;
    color: rgb(208, 150, 150);
    text-shadow: 0px 1px 2px grey;
    text-align: center;
    padding: 12px;

  }