body{
    background-color: gainsboro;
}
/* Configuracion de tamaño visual sin scroll en WEB */
div{
width: 980px;
text-align: center;
margin: 0 auto;
}
header{
    width: 980px;
    height: 120px;
    background-color: goldenrod;
    color: whitesmoke;
    float: left;
}
nav{
    width: 980px;
    height: 80px;
    background-color: navy;
    color: whitesmoke;
    float: left;
}
section{
    width: 780px;
    height: 420px;
    background-color: lightslategray;
    color: whitesmoke;
    /* Archiconocido atributo de colocacion de elementos, donde cada
    uno se le indica cual es su posicion */
    float: left;

}
article{
    width: 780px;
    background-color:lightslategrey;
    height: 210px;
    float: left;
    /* El borde viene definido por sus tres parametro: 
    tamaño del borde
    opacidad el borde
    color del borde
     */
    border-bottom: 2px solid black;

}
aside{
    width: 200px;
    height: 210px;
    background-color: indianred;
    float: right;
    border-bottom: 2px solid black;
    margin:auto;
}
footer{
    width: 980px;
    height: 80px;
    float: left;
    background-color: brown;
    color: whitesmoke;
}
